*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    font-family: 'Poppins', sans-serif;
    /* min-height: 100%; */
}

header{
    width: 100%;
    min-height: 70px;
    background-color: rgb(37 37 37);
    color: rgb(255, 255, 255);
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.45);   
}

.textos-header{
    background-color: rgb(22, 22, 22);
    height: 100vh;
    position: relative;
}

.sobre-nosotros{
    background-color: rgb(243, 233, 250);
    height: 50vh;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.titulo{
    display: flex;
    justify-content: center;
    font-weight: 800;
    font-size: 40px;
}

.container1{
    max-width: 1200px;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    margin: auto; 
    align-items: center;
}

.logo{
    font-size: 24px;
    font-weight: 1000;
    display: flex;
}

.logo a{
    text-decoration: none;
    color:#ffffff
}


header a{
    text-decoration: none;
    color:#ffffff;
    
}

.nav span a{
    color:aqua;
    text-decoration: none;
    transform: scale(1.05);
    transition: 0.1s;
    font-weight: 400;
    cursor: default;

}

.logo span{
    color: aqua;
    text-shadow: 0 0 7px rgb(0, 0, 0);
    font-weight: 100;
}

nav a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 100;
    margin-left: 10px;
}

nav a:hover{
    color:aqua;
    text-decoration: none;
    transform: scale(1.05);
    transition: 0.1s;
    font-weight: 400;
}
 
::-webkit-scrollbar{
    width: 12px;
}

::-webkit-scrollbar-track{
    background-color: #ffffff00;
}

::-webkit-scrollbar-thumb{
    background-color: #b1b1b18f;
    width: 10px;
    height: 10px;
    border-radius: 50px;
}

@media (max-width:768px){
    .container1{
        flex-direction: column;
       /* justify-content:normal; */
    }

    .logo h2{
        font-size: 24px;
        margin-top: 15px;
    }

    .logo i{
        font-size: 18px;
        margin-top: 10px;
    }

    .nav a{
        font-size: 18px;
        margin-bottom: 15px;
        margin-left: 5px;
    }

    section .textHero h2{ 
        font-size: 40px;
    }
    
    footer .redes img{
        height: 28px;
        width: 28px;
        margin-left: 10px;
    }

    footer p{
        font-size: 14px;
    }

    footer .final{
        justify-content: center;
    
    }
}