*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header.headerPrincipal{
    width: 100%;
    height: 70px;
    background-color: #3E5151;
    color: white;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.45);
}

.logo{
    float: left;
    font-size: 24px;
    font-weight: bold;
    margin-top: 9px;
}

.logo span{
    color: #DECBA4;
    text-shadow: 0 0 7px rgb(0, 0, 0);
    font-weight: 100;
}

.container{
   max-width: 1200px;
   margin: auto; 
}
.logo a{
    text-decoration: none;
    color:#ffffff
}

nav a{
    float: right; 
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding-top: 24px;
    padding-right: 12px;
    font-size: 20px;
    font-weight: 100;
}

nav a:hover{
    color: #DECBA4;
}

body{
   background-color:  #3E5151;
   color: white;
   
}

.contactMe h2{
    font-size: 35px;
    font-weight: 100;
    text-shadow: 0 0 10px black;
    margin-bottom: 15px;
    
}

.form{
    border: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.35);
    height: 300px;
    width: 650px;
    padding: 40px;
    padding-left: 60px;
    margin: auto;
    margin-top: 100px;
    border-radius: 5px;
    font-size: 22px;
}

#form1{
    margin-left: 10px;
}

.contactMe{
    float: left;
}

#submit{
    width: 90px;
    height: 40px;
    margin-top: 30px;
    margin-left: 10px;
    background-color: #3E5151;
    font-size: 16px;
	text-transform: uppercase;
	font-weight: 100;
	color: #ffffff;
	border-radius: 5px;
	letter-spacing: 2px;
	background-color: #3E5151;
    border: 0;
	transition: all 300ms ease 0ms;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    
}

#submit:hover{
    background-color: #DECBA4;
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
	transform: translateY(-7px);
}

.imgContactMe img{
    float:right
}

.redes{
    padding-top: 15px;
    padding-right: 20px;   
}

.redes a{
    padding-right: 10px;
    text-decoration: none;
    margin-left: 25px;
}

.redes img{
    width: 32px;
    height: 32px;  
}

footer{
    background-color: #3E5151;
    position: absolute;
    bottom: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.302);
    width: 100%;
    display: flex;
}

#footer p{
    color: white;
    margin-left: 20px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.final{
    max-width: 1200px;
    margin: auto; 
}

footer p span{
    font-size: 30px; 
}
