*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} */

header.headerPrincipal{
    width: 100%;
    height: 70px;
    background-color: #cccccc5d;
    color: rgb(0, 0, 0);
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.45);   
}

.logo{
    float: left;
    font-size: 24px;
    font-weight: bold;
    margin-top: 9px;
}

.logo span{
    color: #000000;
    text-shadow: 0 0 7px rgb(0, 0, 0);
    font-weight: 100;
}

.container{
   max-width: 1200px;
   margin: auto; 
}

nav a{
    float: right; 
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding-top: 24px;
    padding-right: 12px;
    font-size: 20px;
    font-weight: 100;
}

nav a:hover{
    color: #000000;
    text-decoration: none;
}

section{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)), url("../img/hero.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
 }

section .textHero{
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.textHero h1, h3{ 
    font-size: 60px;
}

.textHero h4{ 
    font-weight: 100;
}

.redes{
    padding-top: 15px;
    padding-right: 20px;
}
.redes a{
    padding-right: 10px;
    text-decoration: none;
    
}

.redes img{
    width: 32px;
    height: 32px;    
}

footer{
    background-color: #000000;  
    height: 70px;
    

}

footer p{
    
    color: white;
    
    margin-left: 20px;
    height: 20px;
  
}

.final{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;

    
}

footer p span{
    font-size: 30px;
    
}







