*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
}

body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url("../img/hero.jpg");
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-position: center;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}

header{
    width: 100%;
    min-height: 70px;
    background-color: #ffffff10;
    color: rgb(255, 255, 255);
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.45);   
}

.container1{
    max-width: 1200px;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    margin: auto; 
    align-items: center;
}

/* logo izquierda */

.logo{
    font-size: 24px;
    font-weight: 1000;
    display: flex;
}

.logo h2{
    margin-left: 2px;

}

.logo span{
    color: aqua;
    text-shadow: 1px 1px 10px aqua;
    font-weight: 100;
}

/* navegadores derecha */

nav a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 100;
    margin-left: 10px;
}

nav a:hover{
    color:aqua;
    text-decoration: none;
    transform: scale(1.05);
    transition: 0.1s;
    font-weight: 600;
}

/* img hero */

section{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

section .textHero{
    color: white;
    margin-top: 10%;

}

::-webkit-scrollbar {
    display: none;
  }  

@keyframes textHero {
    0% {
      margin-left: 100%;
      width: 100%;
      color: transparent;
      
    }

    100% {
      margin-left: 0%;
      width: 1000%;
    }
  }

.textHero h1{ 
    font-size: 40px;
    font-weight: 1000;
}

.textHero h2{ 
    font-size: 60px;
    font-weight: 100;
    animation-duration: 3s;
    animation-name: textHero;
    animation-direction: alternate;
}

a i{
    text-decoration: none;
    color:aqua;
    margin-left: 10px;
    font-size: 46px;
}

a i:hover{
    transform: skew(-10deg)scale(1.1);
    transition: 0.5s;
}


.texHero h1, h2{
    cursor:default;
}

/* footer */

.redes{
    padding-top: 15px;
    padding-right: 20px;
}

.redes a{
    padding-right: 10px;
    text-decoration: none;   
}

.redes img{
    width: 28px;
    height: 28px;   
    margin-left: 10px; 
    border-radius: 50px;
}

.redes img:hover{
    transform: scale(1.04);
    
}

footer{
    background-color: #030303c4;  
    height: 50px;
    margin-top: auto;
}

footer p{
    color: white;
    margin-left: 20px;
    height: 20px;
    font-weight: 100;
    font-size: 15px;
}

.final{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

footer p span{
    font-size: 30px;
    
}

/* media query */

@media (max-width:768px){
    .container1{
        flex-direction: column;
       /* justify-content:normal; */
    }

    .logo h2{
        font-size: 24px;
        margin-top: 15px;
    }

    .logo i{
        font-size: 18px;
        margin-top: 10px;
    }

    .nav a{
        font-size: 18px;
        margin-bottom: 15px;
    }

    section .textHero h2{ 
        font-size: 40px;
    }
    
    footer .redes img{
        height: 28px;
        width: 28px;
        margin-left: 10px;
    }

    footer p{
        font-size: 14px;
    }

    footer .final{
        justify-content: center;
    
    }
}






