*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} */

body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)), url("../img/hero.jpg");
    background-position: center;
    background-size: cover;
}

header{
    width: 100%;
    min-height: 85px;
    background-color: #ffffff10;
    color: rgb(255, 255, 255);
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.45);   
}

.container{
    max-width: 1200px;
    min-height: 85px;
    display: flex;
    justify-content: space-between;
    margin: auto; 
    align-items: center;
}

@media (max-width:768px){
    .container{
        flex-direction: column;
       justify-content:normal;
        
    }

    .logo{
        
    }

}




/* logo izquierda */

.logo{
    font-size: 22px;
    font-weight: 1000;
}

.logo span{
    color: rgb(255, 255, 255);
    text-shadow: 0 0 7px rgb(0, 0, 0);
    font-weight: 100;
}

nav a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 100;
    margin-left: 10px;
}

nav a:hover{
    color: rgb(2, 211, 248);
    text-decoration: none;
    transform: scale(1.05);
    transition: 0.5s;
    font-weight: 600;
}

/* img hero */

section{
    height: 100vh;
    width: 100%;
}

section .textHero{
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 70%;
    width: 100%;
}

.textHero h1, h3{ 
    font-size: 60px;
}

.textHero h4{ 
    font-weight: 100;
}

.redes{
    padding-top: 15px;
    padding-right: 20px;
}
.redes a{
    padding-right: 10px;
    text-decoration: none;
    
}

.redes img{
    width: 32px;
    height: 32px;    
}

footer{
    background-color: #000000;  
    height: 70px;
    

}

footer p{
    
    color: white;
    
    margin-left: 20px;
    height: 20px;
  
}

.final{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;

    
}

footer p span{
    font-size: 30px;
    
}








