*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$frcolor:white;
$footcolor:rgb(37, 37, 37);
$thcolor: #00ffff;

$fontgral: 'Poppins', sans-serif;

body{
    font-family: 'Poppins', sans-serif;
    height: 100%;
}

//inicio navbar

header{
    width: 100%;
    min-height: 70px;
    background-color: $footcolor;
    color: rgb(255, 255, 255);
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.45);  

    .container1{
        max-width: 1200px;
        min-height: 70px;
        display: flex;
        justify-content: space-between;
        margin: auto; 
        align-items: center;

        //logo left

        .logo{
            font-size: 24px;
            font-weight: 1000;
            display: flex;
            a{
                text-decoration: none;
            
            h2{
                margin-left: 2px;
                color: white;
            }
            
            span{
                color: $thcolor;
                font-weight: 100;
            }
        }
    }

        // nav right 

        nav{
            span{
                a{ 
                color: $thcolor;
                text-decoration: none;
                transform: scale(1.05);
                font-weight: 400;
                cursor: default;
            }
            }

            a{
                text-decoration: none;
                color: rgb(255, 255, 255);
                font-size: 20px;
                font-weight: 100;
                margin-left: 10px;
            }
        }
    }
}

.nav a:hover{
    color:$thcolor;
    text-decoration: none;
    font-weight: 400;
}

//fin navbar

.contenedorArriba{
    background-color: rgb(22, 22, 22);
    height: 60vh;
    position: relative;
    color: white;
}
.textoArriba h2{
    font-size: 40px;
    font-weight: 800;    
}

li{
    margin-top: 10px;
    padding: 0 10px 0 10px;
}

.textoArriba ul{
    list-style: none;
}

.textoArriba{
    display: flex;
    justify-content: center;
    height: 60vh;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding-bottom: 100px;
}

/* efecto wave */

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
}

.contenedorAbajo{
    background-color: rgb(243, 233, 250);
    height: 40vh;
    flex-direction: column;
    display: flex;
    align-items: center;
    position: relative;
}

.tituloAbajo{
    font-weight: 800;
    font-size: 40px;
    margin-top: 10px;
}

/* footer */

footer{
    height: 50px;
    width: 100%;
    margin-top: auto;
    background-color: $footcolor;
    position: fixed;
    bottom: 0;

    .final{
        max-width: 1200px;
        margin: auto;
        display: flex;
        justify-content: space-between;

        .redes{
            padding-top: 15px;
            padding-right: 20px;
        
            a{
                padding-right: 10px;
                text-decoration: none;   
        
                img{
                width: 28px;
                height: 28px;
                margin-left: 10px;
                border-radius: 50px;
                }
            }
        }
    }

    p{
        color: white;
        margin-left: 20px;
        height: 20px;
        font-weight: 100;
        font-size: 15px;

        span{
            font-size: 30px;
            
        }
        
    }
}

/* fin footer */

::-webkit-scrollbar{
    width: 12px;
}

::-webkit-scrollbar-track{
    background-color: rgb(22, 22, 22);
}

::-webkit-scrollbar-thumb{
    background-color: #b1b1b18f;
    width: 10px;
    height: 10px;
    border-radius: 50px;
}

/* media querys */

@media (max-width:900px){
    .imgSkills{
        display: grid;
        grid-template-columns: 100px 100px 100px;
        gap:20px;
        padding-bottom: 60px;
        
    }
    
    .imgSkills img{
        height: 100px;
        width: 100px;
    }

    .contenedorAbajo{
        min-height: 60vh;
    }
}

@media (max-width:768px){
    .container1{
        flex-direction: column;
    }

    .logo h2{
        font-size: 24px;
        margin-top: 15px;
    }

    .logo i{
        font-size: 18px;
        margin-top: 10px;
    }

    .nav a{
        font-size: 18px;
        margin-bottom: 15px;
        margin-left: 5px;
    }

    section .textHero h2{ 
        font-size: 40px;
    }
    
    footer .redes img{
        height: 28px;
        width: 28px;
        margin-left: 10px;
    }

    footer p{
        font-size: 14px;
    }

    footer .final{
        justify-content: center;

    }
}