* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(22, 22, 22);
  font-family: "Poppins", sans-serif;
  min-height: 100%;
}

header {
  width: 100%;
  min-height: 70px;
  background-color: rgb(37, 37, 37);
  color: rgb(255, 255, 255);
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.45);
}
header .container1 {
  max-width: 1200px;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  align-items: center;
}
header .container1 .logo {
  font-size: 24px;
  font-weight: 1000;
  display: flex;
}
header .container1 .logo a {
  text-decoration: none;
}
header .container1 .logo a h2 {
  margin-left: 2px;
  color: white;
}
header .container1 .logo a span {
  color: #00ffff;
  font-weight: 100;
}
header .container1 nav span a {
  color: #00ffff;
  text-decoration: none;
  transform: scale(1.05);
  font-weight: 400;
  cursor: default;
}
header .container1 nav a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 100;
  margin-left: 10px;
}

.nav a:hover {
  color: #00ffff;
  text-decoration: none;
  font-weight: 400;
}

.sociales {
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sociales h3 {
  font-size: 3rem;
  font-weight: 1000;
  color: white;
  width: auto;
  height: 3rem;
  overflow: hidden;
  -webkit-animation: cascada 0.5s;
          animation: cascada 0.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.sociales .parrafos {
  margin-left: 15px;
}
.sociales p {
  color: white;
}
.sociales p span {
  -webkit-text-decoration: underline solid white;
          text-decoration: underline solid white;
  color: #00ffff;
}

@-webkit-keyframes cascada {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: -10px;
  }
}

@keyframes cascada {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: -10px;
  }
}
footer {
  height: 50px;
  width: 100%;
  margin-top: auto;
  background-color: rgb(37, 37, 37);
  position: fixed;
  bottom: 0;
}
footer .final {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
footer .final .redes {
  padding-top: 15px;
  padding-right: 20px;
}
footer .final .redes a {
  padding-right: 10px;
  text-decoration: none;
}
footer .final .redes a img {
  width: 28px;
  height: 28px;
  margin-left: 10px;
  border-radius: 50px;
}
footer p {
  color: white;
  margin-left: 20px;
  height: 20px;
  font-weight: 100;
  font-size: 15px;
}
footer p span {
  font-size: 30px;
}

a img:hover {
  transform: scale(1.08);
}

@media (max-width: 768px) {
  .container1 {
    flex-direction: column;
  }
  .container1 .logo h2 {
    font-size: 24px;
    margin-top: 15px;
  }
  .container1 .logo i {
    font-size: 18px;
    margin-top: 10px;
  }
  .container1 .nav a {
    font-size: 18px;
    margin-bottom: 15px;
    margin-left: 8px;
  }
  .sociales {
    flex-direction: column;
  }
  .sociales h3 {
    -webkit-animation-iteration-count: 4;
            animation-iteration-count: 4;
    margin-bottom: 30px;
  }
  footer .final {
    justify-content: center;
  }
  footer .final p {
    font-size: 14px;
  }
  footer .final .redes img {
    height: 28px;
    width: 28px;
    margin-left: 10px;
  }
}/*# sourceMappingURL=contact.css.map */