* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url("../img/hero.jpg");
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-position: center;
  background-size: cover;
  font-family: "Poppins", sans-serif;
}

/* header */
header {
  width: 100%;
  min-height: 70px;
  background-color: rgba(255, 255, 255, 0.062745098);
  color: rgb(255, 255, 255);
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.45);
}

.container1 {
  max-width: 1200px;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  align-items: center;
}

/* logo izquierda */
.logo {
  font-size: 24px;
  font-weight: 1000;
  display: flex;
}

.logo h2 {
  margin-left: 2px;
}

.logo span {
  color: aqua;
  font-weight: 100;
}

/* navegadores derecha */
nav a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 100;
  margin-left: 10px;
}

nav a:hover {
  color: aqua;
  text-decoration: none;
  transform: scale(1.05);
  transition: 0.1s;
  font-weight: 600;
}

/* fin header */
/* img hero */
section {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

section .textHero {
  color: white;
  margin-top: 10%;
}

::-webkit-scrollbar {
  display: none;
}

@-webkit-keyframes textHero {
  0% {
    margin-left: 100%;
    width: 100%;
    color: transparent;
  }
  100% {
    margin-left: 0%;
    width: 1000%;
  }
}

@keyframes textHero {
  0% {
    margin-left: 100%;
    width: 100%;
    color: transparent;
  }
  100% {
    margin-left: 0%;
    width: 1000%;
  }
}
.textHero h1 {
  font-size: 40px;
  font-weight: 1000;
  -webkit-animation: engordar 5.5s;
          animation: engordar 5.5s;
}

.textHero h2 {
  font-size: 60px;
  font-weight: 100;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: textHero;
          animation-name: textHero;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

a i {
  text-decoration: none;
  color: aqua;
  margin-left: 10px;
  font-size: 46px;
}

a i:hover {
  transform: skew(-5deg) scale(1.1);
  transition: 0.5s;
}

.textHero h1, h2 {
  cursor: default;
}

@-webkit-keyframes engordar {
  0% {
    color: transparent;
  }
}

@keyframes engordar {
  0% {
    color: transparent;
  }
}
/* fin hero-main */
/* footer */
.redes {
  padding-top: 15px;
  padding-right: 20px;
}

.redes a {
  padding-right: 10px;
  text-decoration: none;
}

.redes img {
  width: 28px;
  height: 28px;
  margin-left: 10px;
  border-radius: 50px;
}

.redes img:hover {
  transform: scale(1.04);
}

footer {
  background-color: rgba(3, 3, 3, 0.768627451);
  height: 50px;
  width: 100%;
  margin-top: auto;
  position: fixed;
  bottom: 0;
}

footer p {
  color: white;
  margin-left: 20px;
  height: 20px;
  font-weight: 100;
  font-size: 15px;
}

.final {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

footer p span {
  font-size: 30px;
}

/* fin footer */
/* media query */
@media (max-width: 768px) {
  .container1 {
    flex-direction: column;
  }
  .logo h2 {
    font-size: 24px;
    margin-top: 15px;
  }
  .logo i {
    font-size: 18px;
    margin-top: 10px;
  }
  .nav a {
    font-size: 18px;
    margin-bottom: 15px;
    margin-left: 5px;
  }
  section .textHero h2 {
    font-size: 40px;
  }
  footer .redes img {
    height: 28px;
    width: 28px;
    margin-left: 10px;
  }
  footer p {
    font-size: 14px;
  }
  footer .final {
    justify-content: center;
  }
}/*# sourceMappingURL=estilos.css.map */