* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)), url("../img/hero.jpg");
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-position: center;
  background-size: cover;
  font-family: "Poppins", sans-serif;
}

header {
  width: 100%;
  min-height: 70px;
  background-color: rgba(255, 255, 255, 0.062745098);
  color: #fdfdfd;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.45);
}
header .container1 {
  max-width: 1200px;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  align-items: center;
}
header .container1 .logo {
  font-size: 24px;
  font-weight: 1000;
  display: flex;
}
header .container1 .logo h2 {
  margin-left: 2px;
}
header .container1 .logo span {
  color: #00ffff;
  font-weight: 100;
}
header .container1 .nav a {
  text-decoration: none;
  color: #fdfdfd;
  font-size: 20px;
  font-weight: 100;
  margin-left: 10px;
}

.container1 .nav a:hover {
  color: #00ffff;
  text-decoration: none;
  font-weight: 400;
}

section {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
section .textHero {
  color: #fdfdfd;
  margin-top: 10%;
}
section .textHero h1 {
  font-size: 40px;
  font-weight: 1000;
  -webkit-animation: engordar 5s;
          animation: engordar 5s;
  cursor: default;
}
section .textHero h1 a i {
  text-decoration: none;
  color: #00ffff;
  margin-left: 10px;
  font-size: 46px;
}
section .textHero h2 {
  font-size: 60px;
  font-weight: 100;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: textHero;
          animation-name: textHero;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  cursor: default;
}

::-webkit-scrollbar {
  display: none;
}

@-webkit-keyframes textHero {
  0% {
    margin-left: 100%;
    width: 100%;
    color: transparent;
  }
  100% {
    margin-left: 0%;
    width: 1000%;
  }
}

@keyframes textHero {
  0% {
    margin-left: 100%;
    width: 100%;
    color: transparent;
  }
  100% {
    margin-left: 0%;
    width: 1000%;
  }
}
a i:hover {
  transform: skew(-1deg) scale(1.05);
  transition: 0.5s;
}

@-webkit-keyframes engordar {
  0% {
    color: transparent;
  }
}

@keyframes engordar {
  0% {
    color: transparent;
  }
}
footer {
  height: 50px;
  width: 100%;
  margin-top: auto;
  background-color: rgba(255, 255, 255, 0.062745098);
  position: fixed;
  bottom: 0;
}
footer .final {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
footer .final .redes {
  padding-top: 15px;
  padding-right: 20px;
}
footer .final .redes a {
  padding-right: 10px;
  text-decoration: none;
}
footer .final .redes a img {
  width: 28px;
  height: 28px;
  margin-left: 10px;
  border-radius: 50px;
}
footer p {
  color: #fdfdfd;
  margin-left: 20px;
  height: 20px;
  font-weight: 100;
  font-size: 15px;
}
footer p span {
  font-size: 30px;
}

a img:hover {
  transform: scale(1.08);
}

@media (max-width: 768px) {
  .container1 {
    flex-direction: column;
  }
  .container1 .logo h2 {
    font-size: 24px;
    margin-top: 15px;
  }
  .container1 .logo i {
    font-size: 18px;
    margin-top: 10px;
  }
  .nav a {
    font-size: 18px;
    margin-bottom: 15px;
    margin-left: 5px;
  }
  section .textHero h2 {
    font-size: 40px;
  }
  footer .final {
    justify-content: center;
  }
  footer .final .redes img {
    height: 28px;
    width: 28px;
    margin-left: 10px;
  }
  footer .final footer p {
    font-size: 14px;
  }
}/*# sourceMappingURL=estilos.css.map */