* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(22, 22, 22);
  font-family: "Poppins", sans-serif;
  min-height: 100%;
}

header {
  width: 100%;
  min-height: 70px;
  background-color: #252525;
  color: rgb(255, 255, 255);
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.45);
}
header .container1 {
  max-width: 1200px;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  align-items: center;
}
header .container1 .logo {
  font-size: 24px;
  font-weight: 1000;
  display: flex;
}
header .container1 .logo a {
  text-decoration: none;
}
header .container1 .logo a h2 {
  margin-left: 2px;
  color: white;
}
header .container1 .logo a span {
  color: #00ffff;
  font-weight: 100;
}
header .container1 nav span a {
  color: #00ffff;
  text-decoration: none;
  transform: scale(1.05);
  font-weight: 400;
  cursor: default;
}
header .container1 nav a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 100;
  margin-left: 10px;
}

.nav a:hover {
  color: #00ffff;
  text-decoration: none;
  font-weight: 400;
}

.containers {
  width: 100%;
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  color: white;
}
.containers .card {
  height: 400px;
  width: 400px;
  margin: 20px;
  border-radius: 6px;
  border: none;
  overflow: hidden;
  background-color: #252525;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  transition: all 400ms ease;
}
.containers .card .duro h3 {
  font-family: "Anton", sans-serif;
}
.containers .card .port h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.containers .card .port h3 span {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  color: #00ffff;
}
.containers .card .mycv h3 {
  font-family: "Fredoka One", cursive;
  color: rgb(223, 192, 152);
}
.containers .card .contenido {
  margin-bottom: 20px;
  text-align: center;
}
.containers .card .contenido a {
  text-decoration: none;
  padding: 20px;
  color: rgb(255, 255, 255);
  font-size: 1.4em;
  transition: all 400ms ease;
}
.containers .card .portfolio {
  width: 100%;
  height: 500px;
  background-image: url(../img/portfolio.jpg);
  background-position: center;
  background-size: cover;
}
.containers .card .durocret {
  width: 100%;
  height: 500px;
  background-image: url(../img//hero\ y\ header.png);
  background-position: center;
  background-size: cover;
}
.containers .card .cv {
  background-image: url(../img/cv\ lucio\ img.png);
  background-position: top;
  background-size: cover;
  width: 100%;
  height: 500px;
}

.card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transition: 0.2s;
  transform: translateY(-3%);
}

.card .contenido a i:hover {
  color: #00ffff;
  transition: 0.2s;
  transform: scale(1.1);
}

footer {
  height: 50px;
  width: 100%;
  background-color: #252525;
  margin-top: auto;
  position: fixed;
  bottom: 0;
}
footer .final {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
footer .final .redes {
  padding-top: 15px;
  padding-right: 20px;
}
footer .final .redes a {
  padding-right: 10px;
  text-decoration: none;
}
footer .final .redes a img {
  width: 28px;
  height: 28px;
  margin-left: 10px;
  border-radius: 50px;
}
footer p {
  color: white;
  margin-left: 20px;
  height: 20px;
  font-weight: 100;
  font-size: 15px;
}
footer p span {
  font-size: 30px;
}

a img:hover {
  transform: scale(1.08);
}

@media (max-width: 768px) {
  .container1 {
    flex-direction: column;
  }
  .container1 .logo h2 {
    font-size: 24px;
    margin-top: 15px;
  }
  .container1 .logo i {
    font-size: 18px;
    margin-top: 10px;
  }
  .container1 .nav a {
    font-size: 18px;
    margin-bottom: 15px;
    margin-left: 8px;
  }
  .containers {
    flex-direction: column;
  }
  .containers .card {
    margin: 3px;
    height: 200px;
    width: 340px;
  }
  .containers .card figure {
    margin-bottom: 4px;
  }
  .containers .card .contenido {
    margin-bottom: 5px;
  }
  .containers .card .contenido h3 {
    font-size: 18px;
    margin-bottom: 0;
  }
  .containers .card .contenido a {
    padding: 5px;
  }
  .containers .card .contenido i {
    font-size: 20px;
    padding: 1px;
  }
  footer .final {
    justify-content: center;
  }
  footer .final p {
    font-size: 14px;
  }
  footer .final .redes img {
    height: 28px;
    width: 28px;
    margin-left: 10px;
  }
}/*# sourceMappingURL=portfolio.css.map */