*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


$frcolor:white;
$sdcolor:black;
$thcolor: #00ffff;

$fontgral: 'Poppins', sans-serif;

body{
    background-color: rgb(22, 22, 22);
    font-family: $fontgral;
    min-height: 100%;
}

/* header */

header{
    width: 100%;
    min-height: 70px;
    background-color: #ffffff10;
    color: rgb(255, 255, 255);
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.45);   
}

.container1{
    max-width: 1200px;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    margin: auto; 
    align-items: center;
}

.logo{
    font-size: 24px;
    font-weight: 1000;
    display: flex;
}


.logo a{
    text-decoration: none;
    color:#ffffff
}

.nav span a{
    color: $thcolor;
    text-decoration: none;
    transform: scale(1.05);
    transition: 0.1s;
    font-weight: 400;
    cursor: default;

}

.logo span{
    color: $thcolor;
    font-weight: 100;
}

nav a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 100;
    margin-left: 10px;
}

nav a:hover{
    color:$thcolor;
    text-decoration: none;
    transform: scale(1.05);
    transition: 0.1s;
    font-weight: 400;
}

//fin navbar

// inicio 

a{
    img{
        height: 10%;
        width: 10%;
    }
    button{
        
    }
}

/* footer */

.redes{
    padding-top: 15px;
    padding-right: 20px;

    a{
        padding-right: 10px;
        text-decoration: none;   

        img{
            width: 28px;
        height: 28px;
        margin-left: 10px;
        border-radius: 50px;
        }
    }

}

a img:hover{
    transform: scale(1.04);
}

footer{
    background-color: #030303c4;  
    height: 50px;
    width: 100%;
    margin-top: auto;
    position: fixed;
    bottom: 0;
}

footer p{
    color: white;
    margin-left: 20px;
    height: 20px;
    font-weight: 100;
    font-size: 15px;
}

.final{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

footer p span{
    font-size: 30px;
    
}
